doctype html
html(lang='en')
    head
        title WEBSITE
        link(rel="stylesheet", href="./style.css")
    body
        h1 HELLO !

        h2 Welcome in Web Application

        h3 To sign up press button below

        button.button-signup
            a(href="/auth/google") Sign Up

        