html
    head
        title WEBSITE
        link(rel="stylesheet", href="./style.css")
    body
        h1 Congratulations !

        h3 YOU're in the game NOW!

        .image
            img(src='la.jpg', alt='lama')